body {
    background-color: #282c34;
}

a {
    color: #4FC3F7;
}

.App {
    text-align: center;
    align-items: center;
    color: white;
    font-size: calc(10px + 2vmin);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
